<header class=" d-flex justify-content-center align-items-center">
    <nav class="col-10"></nav>
</header>

<section class="section1 col-12 d-flex justify-content-around align-items-center">
    <div class="cuadrado col-5"></div>
    <div class="cuadrado col-5"></div>
</section>

<section class="section2 col-12 d-flex justify-content-around align-items-center">
    <div class="cuadrado col-3"></div>
    <div class="cuadrado col-3"></div>
    <div class="cuadrado col-3"></div>
</section>

<footer></footer>