header {
    height: 200px;
    background-color: salmon;
}

nav {
    height: 180px;
    background-color: springgreen;
}

section {
    height: 200px;
}

.section1 {
    background-color: grey;
}

.section2 {
    background-color: hotpink;
}

.cuadrado {
    background-color: lightblue;
    height: 180px;
}

footer {
    height: 200px;
    background-color: khaki;
}